<ion-modal-view class='ksbz-model'>
	<div class="hallmodelbox position-center" style="top: 55%;border-radius: 2px;background-image: -webkit-linear-gradient(top, #2D4E7A 0%, #19375E 100%);box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);">
		<div class="closeNow" ng-click="corpsBewrite.remove()">
			<i class="ion-ios-close-outline"></i>
		</div>
		<div class="minemodelbody maxHeight">
			<ion-content scrollbar-y="false">
				<p class="a-text-color-whitDark" style="margin: 0;">战队活跃度来自所有队员活跃度的总和，当战队活跃度达到战队下一级所需要的活跃度时，战队就可以升级。<span class="a-text-color-whit">注意，若比赛竞猜日战队所有成员未参加任何竞猜，战队活跃度会相应的减少哦。</span></p>
				<p class="a-text-color-whitDark" style="margin-top: .16rem;">玩家活跃度计算方法</p>
				<p class="a-text-color-whitDark" style="margin-top: .1rem;">球星对战：</p>
				<div class="a-flex-center listLine"><span class="a-text-color-light">参与任意竞猜</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+1</span></div>
				<div class="a-flex-center listLine"><span class="a-text-color-light">球星对战获胜</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+1</span></div>
				<p class="a-text-color-whitDark" style="margin-top: .2rem;">经典11人：</p>
				<div class="a-flex-center listLine"><span class="a-text-color-light">参与大厅1个公开竞猜房间</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+1</span></div>
				<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前50%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+1</span></div>
				<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前25%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+2</span></div>
				<div class="tail"><span class="a-text-color-whitDark">（房间至少4人)</span></div>
				<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前10%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+3</span></div>
				<div class="tail"><span class="a-text-color-whitDark">（房间至少10人)</span></div>
				<p class="a-text-color-whitDark" style="margin-top: .2rem;">经典11人：</p>
				<div class="a-flex-center listLine"><span class="a-text-color-light">每花费2个星钻</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+1</span></div>
			    <p class="a-text-color-whitDark" style="margin-top: .2rem;">*参与私密房且私密房开奖不获得经验<br />*若参与房间因人数不足或其他不可抗原因而失效，则 <span class="a-text-color-whit">参加竞猜获得的活跃度依然有效，花费的星钻不计算活跃度</span></p>
			</ion-content>
		</div>
	</div>
</ion-modal-view>