<ion-modal-view class='ksbz-model'>
	<div class="hallmodelbox position-center" style="top: 55%;border-radius: 2px;background-image: -webkit-linear-gradient(top, #2D4E7A 0%, #19375E 100%);box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);">
		<div class="closeNow" ng-click="corpsalertC()">
			<i class="ion-ios-close-outline"></i>
		</div>
		<div class="minemodelbody">
			<p style="margin: 0;text-align: center;" class="a-text-color-cloudyBlue" ng-bind-html='textAlert'></p>
		</div>
	</div>
</ion-modal-view>