<ion-view title='我的房间' class='myRoomDetialView' hide-tabs>
  <!--加入房间时显示的头部-->
<ion-content class="room_jion myRoomDetial" scroll="false" scrollbar-y="false" >
	<div class="room_detial_bg a-background-item">
		<div room-detial-top class="room_detial_own" ng-if="roomDetial && !roomDetial.activity"></div>
		<div room-detial-goodstop class="room_detial_own" ng-if="roomDetial.activity"></div>
		<div class="a-ownpm a-background-item a-flex-between roomNum" style="margin: 0.06rem 0px 0px;">
			<div class="a-flex-start start_box">
				<span class="a-font-size-small a-text-colorgreen">房间号：</span>
				<span class="a-font-size-medium-x a-font-family-numstd a-text-shawgreen" ng-cloak>
					{{roomDetial.roomNum}}
				</span>
			</div>
			<div class="inviteBtn a-background-help a-text-color-light a-font-size-small" ng-click="showShareModal('shareRoom',3)">
				邀好友一起加入
			</div>
		</div>
		<!--<div class="a-flex-between" style="margin-top: .06rem;height: .54rem;width: 100%;background-image: linear-gradient(-180deg, #222C35 0%, #303845 0%);box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.35);">
			<div class="a-flex-center" style="width: 40%;">
				<span class="a-font-size-small a-text-colorgreen">房间号：</span><span class=" a-text-shawgreen a-font-size-medium-x">{{roomDetial.roomNum}}</span>
			</div>
			<div class="a-flex-center a-text-color-light a-font-size-small blackroom a-font-family-special" style="width: 1.13rem;height: .4rem;margin-right: .08rem;"  ng-click="showShareModal('shareRoom',3)">邀好友一起加入</div>
		</div>-->
		<div class="a-ownpm a-parting-line a-background-item a-flex-start-column roomTime">
				<div class="a-flex-start start_box">
					<span class="a-font-size-small a-text-colorgreen">竞猜开始时间:</span>
					<span class="a-font-size-small a-text-color-whit startTime">
						{{roomDetial.matchStartTime}}
						<span class="djs a-font-size-small-x a-text-color-whit" ng-bind-html="roomDetial.countDown | trustHtml"></span>
					</span>
				</div>
				<!--<div class="a-flex-start start_box">
					<span class="a-font-size-small a-text-colorgreen">预计开奖时间:</span>
					<span class="a-font-size-small a-text-color-whit">{{roomDetial.prizeTime}}</span>
				</div>-->
		</div>
		<div class="myroom_detial_tabs">
			<ul class="myroom_detial_tabItem activat">
				<li class="a-font-size-small-x a-text-colorgreen">参赛阵容</li>
			</ul>
			<ul class="myroom_detial_tabItem">
				<li class="a-font-size-small-x a-text-colorgreen">比赛列表</li>
				<li class="a-font-size-small a-text-color-whit">{{roomDetial.matchCount}}场</li>
			</ul>
			<ul class="myroom_detial_tabItem">
				<li class="a-font-size-small-x a-text-colorgreen">参与用户</li>
				<li class="a-font-size-small a-text-color-whit">{{roomDetial.userCount}}/{{roomDetial.maxUserCount}}</li>
			</ul>
		</div>
	</div>
	<!--disable-scroll禁止滑动-->
	<ion-slide-box class="myroom_detial_lineup" ng-class="{'lowHeightSec':(roomDetial.prices.predictSecond!=='0'),'lowHeightThr':(roomDetial.prices.predictThird!=='0'),'lessHeight':(roomDetial.playTypeName=='前25%' && roomDetial.maxUserCount>15),'moreHeight':roomDetial.activity}" active-slide="activated_slide" disable-scroll="true" delegate-handle="" show-pager="false"  animation="slide-left-right-ios7">
		<ion-slide class="">
			<div ng-if="playId==3" class="lineup-zrxz" lineup-classics></div>
		</ion-slide>
		<ion-slide>
			<match-list></match-list>
		</ion-slide>
		<ion-slide class="">
			<div class="join_playerlist list_join" join-list></div>
		</ion-slide>
	</ion-slide-box>
</ion-content>	

</ion-view>
