<ion-modal-view class='ksbz-model'>
	<div class="hallmodelbox position-center" style="border-radius: 2px;background-image: -webkit-linear-gradient(top, #303845 0%, #222c35 100%);box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);">
		<div class="closeb" ng-click="mineBewrite.remove()"></div>
		<div class="minemodelbody">
			<p class="a-text-color-whitDark" style="margin: 0;">球星对战：</p>
			<div class="a-flex-center listLine"><span class="a-text-color-light">参与任意竞猜</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+10</span></div>
			<div class="a-flex-center listLine"><span class="a-text-color-light">猜对球星对战</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+10</span></div>
			<p class="a-text-color-whitDark">经典11人：</p>
			<div class="a-flex-center listLine"><span class="a-text-color-light">参与大厅1个公开竞猜房间</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+10</span></div>
			<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前50%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+10</span></div>
			<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前25%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+20</span></div>
			<div class="tail"><span class="a-text-color-whitDark">（房间至少4人)</span></div>
			<div class="a-flex-center listLine"><span class="a-text-color-light">房间排名前10%</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+30</span></div>
			<div class="tail"><span class="a-text-color-whitDark">（房间至少10人)</span></div>
			<div class="a-flex-center listLine"><span class="a-text-color-light">分享战报至朋友圈</span><span class="dotted"></span><span class="a-text-color-whit font-weight">+10</span></div>
		    <div class="tail"><span class="a-text-color-whitDark">（一天最多一次)</span></div>
		    <p class="a-text-color-whitDark">*参与私密房且私密房开奖不获得经验<br />*若参与房间因人数不足而失效，参加竞猜经验依然有效</p>
		</div>
	</div>
</ion-modal-view>