<ion-model id="awardAlert">
	<div class="awardAlertBg">
		<div class="awardAlert">
			<img src="../../img2.0/prize2.0/qxdz_yjs_5.png" alt="" />
			<div class="awardInfo a-flex-center">
				投入&nbsp;<img src="../../img2.0/prize2.0/xz.png" alt="" /><span>{{prize.totalCost}}&nbsp;</span>获得&nbsp;<img src="../../img2.0/prize2.0/zb.png" alt="" /><span>{{prize.prize}}</span>
			</div>
			<div class="buttons">
				<button class="commit" ng-click="commit()">确定</button>
			</div>
		</div>
	</div>
</ion-model>
