<!--头部-->
<ion-header-bar align-title="left" class="header helpHeader bar-positive">
	<!--用户信息-->
 	<div class="logo_name hasRight">
	  	<a ng-click="nameGet(userData.userId)" class="left">
	  		<img ng-if="userData.head_logo_url" ng-src="{{userData.head_logo_url}}" onerror="loadDefaultImg(1)"/>
	  		<img ng-if="!userData.head_logo_url" src="../../img/common/touxiang_default.png" />
	  		<span ng-cloak>{{userData.name}}</span>
	  	</a>
	</div>
 	 <!--个人财富-->
	<h1 class="wealthStar hasRight">
		<img src="../../img2.0/common/zs_28.png" alt="" />
	  	<span ng-cloak>{{userData.dmd}}</span>
	</h1>
	<div class="buttons-right buttons-right-rule" ng-click="showRule()" >
       	<div ng-if="!help_title" class="a-text-color-light a-font-size-small">竞技规则</div>
       	<div ng-if="help_title" class="a-text-color-light a-font-size-small">{{help_title}}</div>
   	</div>
</ion-header-bar>