<!--头部-->
<ion-header-bar align-title="left" class="header helpHeader bar-positive" >
	  <!--大厅默认的头部头像-->
		  <div class="logo_name">
		  	<a ng-click="nameGet(userData.userId)" class="left">
		  		<img ng-if="userData.head_logo_url" ng-src="{{userData.head_logo_url}}" onerror="loadDefaultImg(1)"/>
		  		<img ng-if="!userData.head_logo_url" src="../../img/common/touxiang_default.png" />
		  		<span ng-cloak>{{userData.name}}</span>
		  	</a>
		  </div>
		  <div class="wealthStar">
		  	<img src="../../img/common/hb_28.png" alt="" />
		  	<span ng-cloak>{{userData.dmd}}</span>
		  </div>
</ion-header-bar>

