@-webkit-keyframes _around {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  50% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  75% {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}
@-webkit-keyframes _going {
  0% {
    width: 30%;
    z-index: 1;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    z-index: 0;
  }
}
#rank {
  position: relative;
  background-image: linear-gradient(-180deg, #19232B 0%, #303845 100%);
  box-shadow: inset 0 -10px 15px 0 rgba(0, 0, 0, 0.35);
}
#rank .boxs {
  display: block;
  overflow-x: auto;
  width: 100vw;
  white-space: nowrap;
  margin: 0px;
  padding: .12rem 0 .12rem .12rem;
}
#rank .boxs .scroll {
  height: 100%;
}
#rank .boxs .scroll .box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: .12rem;
  box-sizing: border-box;
  width: 1.8rem;
  height: 100%;
  padding: .05rem .1rem .02rem;
}
#rank .boxs .scroll .box .warp > h2 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#rank .boxs .scroll .box .warp > h2 span {
  font-family: "DIN1451EF-EngAlt";
  color: #858ea0;
  font-size: .12rem;
}
#rank .boxs .scroll .box .warp > h2 span.color {
  color: #34ed41;
}
#rank .boxs .scroll .box .warp > h2 span:first-child {
  font-weight: bold;
  font-size: .16rem;
  margin-right: .05rem;
}
#rank .boxs .scroll .box .warp > h2 img {
  width: .6rem;
  height: .2rem;
  position: absolute;
  top: 0;
  right: 0;
}
#rank .boxs .scroll .box .warp > .by {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-top: .04rem;
  position: relative;
}
#rank .boxs .scroll .box .warp > .by > div {
  text-align: center;
  width: .65rem;
  height: .5rem;
  position: relative;
}
#rank .boxs .scroll .box .warp > .by > div img {
  height: .24rem;
}
#rank .boxs .scroll .box .warp > .by > div p {
  text-align: center;
  color: #858ea0;
  font-size: .12rem;
  position: absolute;
  bottom: 0;
}
#rank .boxs .scroll .box .warp > .by > div p.color {
  color: #ffffff;
}
#rank .boxs .scroll .box .warp > .by > div > span {
  color: #858ea0;
  font-size: .12rem;
}
#rank .boxs .scroll .box .warp > .by > div > span.color {
  color: #ffffff;
}
#rank .boxs .scroll .box .warp > .by > div.centerDate {
  position: absolute;
}
#rank .boxs .scroll .box .warp > .by > div.centerDate p {
  position: static;
  line-height: .12rem;
}
#rank .boxs .scroll .box .warp > .linebg {
  width: 100%;
  height: 2px;
}
#rank .boxs .scroll .box > .title {
  text-align: center;
  color: #858ea0;
  font-size: .12rem;
}
#rank .boxs .scroll .box > .title i {
  color: #858ea0;
}
#rank .boxs .scroll .box > .title.color {
  color: #34ed41;
}
#rank .boxs .scroll .box > .title.color i {
  color: #34ed41;
}
.hallheader {
  position: absolute;
  top: 0.5rem;
  bottom: 0px;
  height: .44rem;
  width: 100%;
  background-color: #26323d;
  display: -webkit-flex;
  display: flex;
  z-index: 10;
}
.hallheader #searchN {
  height: 100%;
  background-color: #26323d;
  flex: 1;
}
.hallheader #searchN div {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-left: .1rem ;
  height: .32rem;
}
.hallheader #searchN div input {
  padding: 0;
  color: #fff;
}
.hallheader #searchN div input::-webkit-input-placeholder {
  color: #858ea0;
  font-size: .14rem;
}
.hallheader #searchN div i {
  color: #858ea0;
}
.hallheader #searchN div .ion-ios-close {
  margin-right: .1rem;
  color: #fff;
  font-size: .18rem;
}
.hallheader #count {
  -webkit-flex: 1;
  flex: 1;
  background: inherit;
  display: -webkit-flex;
  display: flex;
}
.hallheader #count .filter,
.hallheader #count .sort {
  color: #858ea0;
  height: 100%;
  line-height: .44rem;
  margin: 0px;
  font-size: 0.14rem;
  text-align: center;
  flex: 1;
}
.hallheader #count .filter i,
.hallheader #count .sort i {
  color: #858ea0;
}
.hallheader #count .sort.sortcss,
.hallheader #count .filter.filtcss,
.hallheader #count .sort.upsortcss,
.hallheader #count .filter.upfiltcss {
  color: #34ed41;
}
.hallheader #count .sort.sortcss i,
.hallheader #count .filter.filtcss i,
.hallheader #count .sort.upsortcss i,
.hallheader #count .filter.upfiltcss i {
  color: #34ed41;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hallheader #count .sort.upsortcss i,
.hallheader #count .filter.upfiltcss i {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.hallheader #pxDetial {
  display: none;
}
.hallheader #pxDetial_thr {
  display: none;
}
.hall {
  top: .94rem;
  bottom: .2rem;
  background: #26323d;
}
.hall.listmod {
  top: 1rem;
}
.hall,
.battle {
  overflow: hidden!important;
  overflow-y: auto!important;
}
.hall .refresh,
.battle .refresh {
  display: none;
}
.hall .fanhui,
.battle .fanhui {
  transform: translate3d(0px, 0px, 0px) scale(1);
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
  transition: transform 1 ease-in;
}
.hall #allteam,
.battle #allteam {
  overflow: auto;
  margin: auto;
}
.hall #allteam .team,
.battle #allteam .team {
  display: block;
  background: #FFFFFF;
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  padding: 0.18rem 4vw;
  border: 1px solid #e2ddd7;
}
.hall #allteam .team header,
.battle #allteam .team header {
  height: 0.62rem;
  line-height: 0.52rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.hall #allteam .team header span,
.battle #allteam .team header span {
  font-size: 0.4rem;
  color: #606062;
}
.hall #allteam .team header .roomname:first-child,
.battle #allteam .team header .roomname:first-child {
  font-size: 0.40rem;
  font-weight: 600;
  color: #606062;
}
.hall #allteam .team header .status:last-child,
.battle #allteam .team header .status:last-child {
  display: inline-block;
  width: 30vw;
  text-align: center;
  font-size: 0.3rem;
  color: #A3A1A3;
  letter-spacing: 0.2em;
  margin-bottom: 0px;
  align-self: flex-end;
}
.hall #allteam .team header .status:last-child img,
.battle #allteam .team header .status:last-child img {
  position: relative;
  top: 0.05rem;
  width: 0.42rem;
  height: 0.36rem;
  margin-right: 0.8em;
}
.hall #allteam .team header .status:last-child .hall_full,
.battle #allteam .team header .status:last-child .hall_full {
  position: relative;
  top: 0.05rem;
  width: 0.24rem;
  height: 0.36rem;
  margin-right: 0.8em;
}
.hall #allteam .team header .full:last-child img,
.battle #allteam .team header .full:last-child img {
  width: 0.42rem;
  height: 0.36rem;
  margin-right: 0.8em;
}
.hall #allteam .team .content,
.battle #allteam .team .content {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.hall #allteam .team .content aside,
.battle #allteam .team .content aside {
  width: 33vw;
}
.hall #allteam .team .content aside div,
.battle #allteam .team .content aside div {
  height: 0.6rem;
  line-height: 0.6rem;
  white-space: nowrap;
}
.hall #allteam .team .content aside div span,
.battle #allteam .team .content aside div span {
  white-space: nowrap;
}
.hall #allteam .team .content aside div span:first-child,
.battle #allteam .team .content aside div span:first-child {
  display: inline-block;
  width: 1.45rem;
  color: #A3A1A3;
  font-size: 0.3rem;
}
.hall #allteam .team .content aside div span:last-child,
.battle #allteam .team .content aside div span:last-child {
  color: #484749;
  font-weight: bold;
  font-size: 0.36rem;
}
.hall #allteam .team .content aside div:nth-child(2) span:last-child,
.battle #allteam .team .content aside div:nth-child(2) span:last-child {
  color: #484749;
  font-size: 0.3rem;
  font-weight: normal;
}
.hall #allteam .team .content aside .leaguetype,
.battle #allteam .team .content aside .leaguetype {
  display: inline-block;
  border-radius: 0.04rem;
  background: #EDEDED;
  font-size: 0.24rem;
  line-height: normal;
  padding: 0px 0.1rem 0px 0.2rem;
  letter-spacing: 0.1rem;
}
.hall #allteam .team .content aside .zhongchao,
.battle #allteam .team .content aside .zhongchao {
  color: #3B3B3B;
}
.hall #allteam .team .content aside .yingchao,
.battle #allteam .team .content aside .yingchao {
  color: #054792;
}
.hall #allteam .team .content article,
.battle #allteam .team .content article {
  width: 50vw;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.hall #allteam .team .content article .price,
.battle #allteam .team .content article .price,
.hall #allteam .team .content article .prizes,
.battle #allteam .team .content article .prizes {
  width: 20vw;
  text-align: center;
}
.hall #allteam .team .content article .price span:first-child,
.battle #allteam .team .content article .price span:first-child,
.hall #allteam .team .content article .prizes span:first-child,
.battle #allteam .team .content article .prizes span:first-child {
  display: block;
  color: #A3A1A3;
  font-size: 0.3rem;
  line-height: 0.6rem;
}
.hall #allteam .team .content article .price span:nth-child(2),
.battle #allteam .team .content article .price span:nth-child(2),
.hall #allteam .team .content article .prizes span:nth-child(2),
.battle #allteam .team .content article .prizes span:nth-child(2) {
  display: block;
  height: 0.6rem;
}
.hall #allteam .team .content article .price span:nth-child(2) li,
.battle #allteam .team .content article .price span:nth-child(2) li,
.hall #allteam .team .content article .prizes span:nth-child(2) li,
.battle #allteam .team .content article .prizes span:nth-child(2) li {
  display: inline-block;
  position: relative;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #484749;
  font-weight: bold;
}
.hall #allteam .team .content article .price span:nth-child(2) li img,
.battle #allteam .team .content article .price span:nth-child(2) li img,
.hall #allteam .team .content article .prizes span:nth-child(2) li img,
.battle #allteam .team .content article .prizes span:nth-child(2) li img {
  display: block;
  display: inline-block;
  height: 0.26rem;
  position: absolute;
  left: -0.46rem;
  top: 50%;
  margin-top: -0.13rem;
}
.hall #allteam .team .content article .prizes span:nth-child(2) li,
.battle #allteam .team .content article .prizes span:nth-child(2) li {
  color: #57A900;
}
.hall #allteam .team .content article .prizes .roomtype,
.battle #allteam .team .content article .prizes .roomtype {
  display: inline-block;
  border-radius: 0.04rem;
  font-size: 0.24rem;
  letter-spacing: 0.1rem;
  line-height: normal;
  padding: 0rem 0.1rem 0rem 0.2rem;
}
.hall #allteam .team .content article .prizes .official,
.battle #allteam .team .content article .prizes .official {
  background: #FFD20C;
  color: #000000;
}
.hall #allteam .team .content article .prizes .baoxiang,
.battle #allteam .team .content article .prizes .baoxiang {
  background: #B2B2E0;
  color: #FFFFFE;
}
.hall #allteam .team.activated,
.battle #allteam .team.activated {
  width: 98vw;
}
.hall .roomList,
.battle .roomList {
  overflow: auto;
  margin: 0 auto .1rem;
}
.hall .roomList .roomItem.activated,
.battle .roomList .roomItem.activated {
  width: 98vw;
}
.hall .roomList .headtitle,
.battle .roomList .headtitle {
  font-size: .13rem;
  color: #8fea96;
  text-align: center;
  margin: .12rem 0 .06rem;
}
.hall .roomList .headtitle img,
.battle .roomList .headtitle img {
  width: .1rem;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 5px;
}
.hall .roomList .headtitle > span,
.battle .roomList .headtitle > span {
  font-size: .14rem ;
  color: #fff;
}
.hall .roomList .headtitle > span:last-child,
.battle .roomList .headtitle > span:last-child {
  font-size: .12rem;
}
.hall .roomList .headtitle.padd,
.battle .roomList .headtitle.padd {
  margin: .18rem 0 .18rem;
}
.hall .roomList .roomItem,
.battle .roomList .roomItem {
  position: relative;
  display: block;
  width: 95vw;
  margin: 0 auto .12rem;
  overflow: hidden;
  padding: .08rem .12rem .06rem .12rem;
}
.hall .roomList .roomItem > .synchro,
.battle .roomList .roomItem > .synchro {
  width: .76rem;
  height: .28rem;
  font-size: .12rem;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 0;
}
.hall .roomList .roomItem > .synchrojoin,
.battle .roomList .roomItem > .synchrojoin {
  height: .28rem;
  position: absolute;
  right: .78rem;
  top: 0;
  width: .4rem;
  white-space: nowrap;
}
.hall .roomList .roomItem > .isJoin,
.battle .roomList .roomItem > .isJoin {
  position: absolute;
  right: 0px;
  top: 0px;
  width: .56rem;
  height: .56rem;
  z-index: 5;
}
.hall .roomList .roomItem > .isJoin.roomUnAvailable,
.battle .roomList .roomItem > .isJoin.roomUnAvailable {
  top: .1rem;
  right: .12rem;
  z-index: 10;
}
.hall .roomList .roomItem > .isJoin.unused,
.battle .roomList .roomItem > .isJoin.unused {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: -webkit-linear-gradient(0, #222C35 0%, #303845 90%);
  background-image: linear-gradient(0, #222C35 0%, #303845 90%);
  box-shadow: inset 0 -1px 1px 0 rgba(255, 255, 255, 0.15);
  z-index: 5;
}
.hall .roomList .roomItem > .isJoin.noUnAvailable,
.battle .roomList .roomItem > .isJoin.noUnAvailable {
  width: .67rem;
  height: .26rem;
  top: .05rem;
  right: .05rem;
}
.hall .roomList .roomItem > .isactivity,
.battle .roomList .roomItem > .isactivity {
  width: .92rem;
  height: .78rem;
  position: absolute;
  top: 0;
  right: 0;
}
.hall .roomList .roomItem header,
.battle .roomList .roomItem header {
  height: 0.2rem;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.hall .roomList .roomItem header .header,
.battle .roomList .roomItem header .header {
  height: 0.2rem;
  float: left;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
.hall .roomList .roomItem header .header .roomtype,
.battle .roomList .roomItem header .header .roomtype {
  display: block;
  text-align: center;
  width: .32rem;
  height: .2rem;
  border-radius: 2px;
}
.hall .roomList .roomItem header .header .roomtype .type,
.battle .roomList .roomItem header .header .roomtype .type {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #34ed41;
  font-size: 0.13rem;
}
.hall .roomList .roomItem header .header .roomtype .Type0,
.battle .roomList .roomItem header .header .roomtype .Type0 {
  color: #36bbff;
}
.hall .roomList .roomItem header .header .roomtype .typewhite,
.battle .roomList .roomItem header .header .roomtype .typewhite {
  color: #fff;
}
.hall .roomList .roomItem header .header .roomname,
.battle .roomList .roomItem header .header .roomname {
  padding-left: 0.1rem;
  font-size: 0.13rem;
  color: #34ed41;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hall .roomList .roomItem header > aside > .no_full,
.battle .roomList .roomItem header > aside > .no_full {
  height: 0.74rem;
  position: absolute;
  right: -0.03rem;
}
.hall .roomList .roomItem header > aside > .win,
.battle .roomList .roomItem header > aside > .win {
  height: 0.74rem;
  position: absolute;
  right: -0.03rem;
}
.hall .roomList .roomItem .content,
.battle .roomList .roomItem .content {
  display: -webkit-flex;
  display: flex;
  margin-top: .1rem;
  -webkit-align-items: center;
  align-items: center;
  position: static;
}
.hall .roomList .roomItem .content > .roomlist,
.battle .roomList .roomItem .content > .roomlist {
  width: 20%;
}
.hall .roomList .roomItem .content > .roomlist p,
.battle .roomList .roomItem .content > .roomlist p {
  text-align: center;
}
.hall .roomList .roomItem .content > .roomlist p span,
.battle .roomList .roomItem .content > .roomlist p span {
  font-size: .18rem;
  font-weight: normal;
}
.hall .roomList .roomItem .content > .roomlist p span.cc,
.battle .roomList .roomItem .content > .roomlist p span.cc {
  color: #34ed41;
  font-family: 'DINEngschriftStd';
}
.hall .roomList .roomItem .content > .roomlist p span.fontc,
.battle .roomList .roomItem .content > .roomlist p span.fontc {
  font-size: .1rem;
  color: #858ea0;
}
.hall .roomList .roomItem .content > .roomlist p img,
.battle .roomList .roomItem .content > .roomlist p img {
  width: .14rem;
  height: .14rem;
  vertical-align: middle;
  margin-right: .04rem;
  position: relative;
  top: -2px;
}
.hall .roomList .roomItem .content > .roomlist p:first-child,
.battle .roomList .roomItem .content > .roomlist p:first-child {
  color: #fff;
  font-size: .14rem;
  font-weight: bold ;
}
.hall .roomList .roomItem .content > .roomlist p:last-child,
.battle .roomList .roomItem .content > .roomlist p:last-child {
  font-size: .12rem;
  color: #a4b2cd;
}
.hall .roomList .roomItem .content > .roomlist p.nopeople,
.battle .roomList .roomItem .content > .roomlist p.nopeople {
  position: relative;
  z-index: 10;
}
.hall .roomList .roomItem .content > .roomlist p.noFee > img,
.battle .roomList .roomItem .content > .roomlist p.noFee > img {
  display: inline-block;
  width: .27rem;
  height: .14rem;
  margin: 0;
}
.hall .roomList .roomItem .content > .roomlist.roomtop,
.battle .roomList .roomItem .content > .roomlist.roomtop {
  height: .78rem;
}
.hall .roomList .roomItem .content > .roomlist.roomtop img,
.battle .roomList .roomItem .content > .roomlist.roomtop img {
  width: .92rem;
  height: .78rem;
  position: absolute;
  right: 0;
  top: .28rem;
  margin: 0;
}
.hall .roomList .roomItem .content > .roomlist:first-child,
.battle .roomList .roomItem .content > .roomlist:first-child {
  width: 46%;
  display: -webkit-flex;
  display: flex;
}
.hall .roomList .roomItem .content > .roomlist:first-child img,
.battle .roomList .roomItem .content > .roomlist:first-child img {
  width: .36rem;
  height: .32rem;
  margin-right: .04rem;
}
.hall .roomList .roomItem .content > .roomlist:last-child,
.battle .roomList .roomItem .content > .roomlist:last-child {
  width: 34%;
}
.hall .roomList .roomItem .content > .roomlist.completeone:first-child,
.battle .roomList .roomItem .content > .roomlist.completeone:first-child {
  width: 30%;
}
.hall .roomList .roomItem .content > .roomlist.completeone,
.battle .roomList .roomItem .content > .roomlist.completeone {
  width: 24%;
}
.hall .roomList .roomItem .content > .roomlist.completeone.bg,
.battle .roomList .roomItem .content > .roomlist.completeone.bg {
  position: relative;
}
.hall .roomList .roomItem .content > .roomlist.completeone.bg > img,
.battle .roomList .roomItem .content > .roomlist.completeone.bg > img {
  width: .46rem;
  height: .46rem;
  top: 36%;
}
.hall .roomList .roomItem .content.mtop,
.battle .roomList .roomItem .content.mtop {
  margin: 0;
  position: static;
}
.hall .roomList .roomItem .hallline,
.battle .roomList .roomItem .hallline {
  height: 4px;
  width: 100%;
  margin-top: .1rem;
  position: relative;
}
.hall .roomList .roomItem .hallline span,
.battle .roomList .roomItem .hallline span {
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.hall .roomList .roomItem .hallline.unused,
.battle .roomList .roomItem .hallline.unused {
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.hall .roomList .roomItem .peoples,
.battle .roomList .roomItem .peoples {
  position: relative;
  margin-top: .04rem;
  height: .2rem;
  line-height: .2rem;
}
.hall .roomList .roomItem .peoples img:first-child,
.battle .roomList .roomItem .peoples img:first-child {
  width: .1rem;
  height: .1rem;
  margin-right: .05rem;
}
.hall .roomList .roomItem .peoples img,
.battle .roomList .roomItem .peoples img {
  width: .18rem;
  height: .18rem;
  vertical-align: middle;
}
.hall .roomList .roomItem .peoples img.man,
.battle .roomList .roomItem .peoples img.man {
  margin-left: .05rem;
}
.hall .roomList .roomItem .peoples img.team,
.battle .roomList .roomItem .peoples img.team {
  float: right;
  margin-top: 1px;
  margin-left: .1rem;
}
.hall .roomList .roomItem .peoples span,
.battle .roomList .roomItem .peoples span {
  font-size: .12rem;
  color: #a4b2cd;
}
.hall .roomList .roomItem .peoples div span,
.battle .roomList .roomItem .peoples div span {
  color: white;
}
.hall .roomList .roomItem .peoples span:nth-child(2),
.battle .roomList .roomItem .peoples span:nth-child(2) {
  color: #8fea96;
}
.hall .roomList .roomItem .content_end,
.battle .roomList .roomItem .content_end {
  padding-bottom: 0.24rem;
}
.hall .roomList .roomItem .content_end > ul,
.battle .roomList .roomItem .content_end > ul {
  padding-right: 0.28rem;
}
.hall .roomList .roomItem .content_end > ul > .reward_box,
.battle .roomList .roomItem .content_end > ul > .reward_box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0px ;
  line-height: 0.7rem;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .reward,
.battle .roomList .roomItem .content_end > ul > .reward_box > .reward {
  font-size: 0.40rem;
  padding-right: 1.5em;
  white-space: nowrap;
  letter-spacing: 0.04rem;
  color: #262626;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .reward > span,
.battle .roomList .roomItem .content_end > ul > .reward_box > .reward > span {
  font-size: 0.40rem;
  padding-left: 0.3em;
  color: #57A900 ;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .money,
.battle .roomList .roomItem .content_end > ul > .reward_box > .money {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .money > img,
.battle .roomList .roomItem .content_end > ul > .reward_box > .money > img {
  width: 0.36rem;
  height: 0.36rem;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .money > .xb,
.battle .roomList .roomItem .content_end > ul > .reward_box > .money > .xb {
  color: #5EAF00;
  font-size: 0.97rem;
  padding: 0px 0.1em;
}
.hall .roomList .roomItem .content_end > ul > .reward_box > .money > .from,
.battle .roomList .roomItem .content_end > ul > .reward_box > .money > .from {
  font-size: 0.36rem;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num,
.battle .roomList .roomItem .content_end > ul .fee_time_num {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  line-height: 1em;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div > span,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div > span {
  font-size: 0.36rem;
  color: #878787;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div > span > span,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div > span > span {
  color: #878787;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .fee,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .fee {
  padding-right: 1em;
  white-space: nowrap;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .fee > img,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .fee > img {
  height: 0.38rem;
  vertical-align: middle;
  margin-left: 0.2em;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .point,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .point {
  position: relative;
  top: -0.09rem;
  padding-right: 1em;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .time,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .time {
  padding-right: 2em;
  white-space: nowrap;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .time > span,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .time > span {
  padding-left: 0.3em;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > div .time > i,
.battle .roomList .roomItem .content_end > ul .fee_time_num > div .time > i {
  display: inline-block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  font-size: 0.38rem;
  color: #BBBBBB;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > .num,
.battle .roomList .roomItem .content_end > ul .fee_time_num > .num {
  float: right;
  font-size: 0.36rem;
  color: #878787;
  white-space: nowrap;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > .num > span,
.battle .roomList .roomItem .content_end > ul .fee_time_num > .num > span {
  padding-left: 0.3em;
  font-size: 0.36rem;
  color: #878787;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > .num > span > .ranking,
.battle .roomList .roomItem .content_end > ul .fee_time_num > .num > span > .ranking {
  color: #5EAF00;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > .num > span > .ranking_fail,
.battle .roomList .roomItem .content_end > ul .fee_time_num > .num > span > .ranking_fail {
  color: #262626;
}
.hall .roomList .roomItem .content_end > ul .fee_time_num > .num > span:last-of-type,
.battle .roomList .roomItem .content_end > ul .fee_time_num > .num > span:last-of-type {
  color: #262626;
}
.hall .roomList .roomItem.border-viole,
.battle .roomList .roomItem.border-viole {
  border: 0.02rem solid #6023ff;
  box-sizing: border-box;
}
.have_none,
.date_none {
  width: 100vw;
  height: 8.6rem;
  background: #232932;
  text-align: center;
  position: absolute;
  top: 2.14rem;
  z-index: 10;
}
.have_none > img,
.date_none > img {
  margin: 24% auto 0;
  width: 1.4rem;
}
.date_none {
  top: .84rem;
  bottom: 0;
  z-index: 15;
}
.date_none img {
  margin: 30% auto 0;
}
.date_none .textBox {
  text-align: center;
}
.date_none .textBox .timeTitle {
  margin-top: .2rem;
  margin-bottom: .1rem;
}
.date_none .textBox .textMar {
  margin-bottom: .06rem;
}
.returntop {
  position: absolute;
  bottom: 0.08rem;
  right: 0;
  width: .62rem;
  height: .6rem;
  z-index: 10;
  background: url(../../img2.0/hall/jdzdt_15.png) no-repeat;
  background-size: 100% 100%;
}
#roomcount {
  position: absolute;
  bottom: 0rem;
  height: .2rem;
  width: 100%;
  background: #21282f;
  text-align: center;
  line-height: .2rem;
  color: #fff;
  font-size: .12rem;
  z-index: 10;
  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.35);
}
.roomcount {
  position: absolute;
  height: 0.63rem;
  width: 100vw;
  background: #DAD9DB;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  font-size: 0.36rem;
  font-weight: bold;
  color: #606062;
  line-height: 0.63rem;
}
.bar {
  background-size: 0px 0px;
}
#infinite_end {
  height: .3rem;
  width: 100%;
  text-align: center;
  line-height: 0.1rem;
  color: #a4b2cd;
  font-size: 0.12rem;
}
/**
 *大厅样式 
 */
.hallmodelbox {
  width: 88%;
  padding: .24rem .16rem .18rem;
}
.hallmodelbox .hallmodelbody {
  text-align: center;
  width: 100%;
}
.hallmodelbox .hallmodelbody .textClass {
  height: .4rem;
  width: 100%;
  margin-top: .18rem;
  position: relative;
}
.hallmodelbox .hallmodelbody .textClass .text {
  width: 100%;
}
.hallmodelbox .hallmodelbody .inputBoxContainer {
  width: 100%;
  height: .54rem;
  margin: .3rem auto;
  position: relative;
}
.hallmodelbox .hallmodelbody .inputBoxContainer .bogusInput {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
}
.hallmodelbox .hallmodelbody .inputBoxContainer .bogusInput input {
  padding: 0;
  width: .54rem;
  height: 100%;
  background: -webkit-linear-gradient(#11171d 0%, #222b38 80%);
  background: linear-gradient(#11171d 0%, #222b38 80%);
  box-shadow: inset 0 1px 10px 0 #313947;
  text-align: center;
  font-size: 20px;
  border: none;
  border: 1px solid #425466;
  box-sizing: border-box;
  margin-right: .06rem;
  border-radius: 2px;
  font-size: .48rem;
  color: #FFFFFF;
  vertical-align: middle;
  padding-top: .05rem;
  text-shadow: 0 0 0.06rem #12B01D;
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  opacity: 1;
}
.hallmodelbox .hallmodelbody .inputBoxContainer .bogusInput input:last-child {
  margin-right: 0;
}
.hallmodelbox .hallmodelbody .inputBoxContainer .realInput {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.hallmodelbox .hallmodelbody .roomType {
  width: 100%;
  margin: .3rem 0;
}
.hallmodelbox .hallmodelbody .roomType .typeBox {
  width: 1.24rem;
  height: 1.1rem;
  text-align: center;
  position: relative;
}
.hallmodelbox .hallmodelbody .roomType .typeBox > p {
  position: absolute;
  bottom: 0.14rem;
  line-height: 1em;
  width: 100%;
  text-align: center;
}
.hallmodelbox .hallmodelbody .roomType .typeBox img {
  width: .72rem;
}
.hallmodelbox .hallmodelbody .searchbtn {
  margin: 0 auto;
  width: .9rem;
  display: inline-flex;
  display: block;
  border: none;
  outline: none;
  white-space: nowrap;
  min-height: .31rem;
  height: .31rem;
  line-height: .31rem;
  color: #fff;
  font-size: .14rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.hallmodelbox .hallmodelbody > .guideTab {
  height: .65rem;
  margin: 0 auto;
}
.hallmodelbox .hallmodelbody > .guideText {
  margin-top: .13rem;
  margin-bottom: .24rem;
}
