<ion-view view-title="创建战队" class="corpsBack" hide-tabs>
	<ion-content class="corpsCreamCon" scroll= false>
        <div class="a-flex-between a-background-darkBlue logo">
        	<span class="a-text-color-cloudyBlue a-font-size-small-x font-weight">战队图标：</span>
        	<div ng-click="corpsLogoChoose()">
        		<!--<img id="corpsLogo" src="../../img2.0/battle/dt_kzt.png" alt="" />-->
        		<div class="box-six" style="position: relative;width: .6rem;height: .72rem;background: url(../../img2.0/corps/zd_tx_bg_big.png)no-repeat 50% center;background-size: 120%;">
				<div class="con-show01">  
			        <div class="con-show02">  
			          <div class="con-show03"> 
			          	 <img img-resize id="corpsLogo" class="position-center" src="../../img2.0/corps/zd_cjzd_tx_default.png" alt="" />
			          </div>  
			        </div>  
			     </div>  
			</div>
        		<span class="a-text-color-cloudyBlue a-font-size-small-s">更改</span>
        	</div>
        </div>
        <div class="a-flex-start a-background-darkBlue corspName">
        	<span class="a-text-color-cloudyBlue a-font-size-small-x font-weight">战队名称：</span>
        	<label for="corpsName" class="item item-input">
        		<input type="text" id="corpsName" maxlength="7" placeholder="3-7个字" />
        	</label>
        </div>
        <div class="a-flex-start a-background-darkBlue corspText">
        	<span class="a-text-color-cloudyBlue a-font-size-small-x font-weight">战队口号：</span>
        	<label for="corpsText" class="item item-input">
        		<textarea text-left class="a-text-color-whit" maxlength="15" type="text" id="corpsText" placeholder="1-15个字" rows="3" /></textarea>
        	</label>
        </div>
        <div class="a-flex-between a-background-darkBlue corpsChose">
        	<span class="a-text-color-cloudyBlue a-font-size-small-x font-weight">成员审核方式：</span>
        	<div class="a-flex-between-column dWidth">
        		<ion-radio class='onlyChose' ng-repeat="join in joinType"
		                   ng-value="join.type"
		                   ng-model="isJoin.type"
		                   ng-change="joinRecord(join)"
		                   name="consent">
		                   <span>{{join.text}}</span>
		      </ion-radio>
        	</div>
        </div>
        <div class="corpsSubmit"  keyout-hide>
        	<p class="a-text-color-cloudyBlue a-font-size-small-x">- 注意：<span class="font-weight a-text-color-cloudyBlue">战队logo和战队名称在创建后不可修改</span> -</p>
            <button ng-click="creamNew()" class="a-flex-center a-font-size-medium font-weight a-text-color-whit a-buttonBig-purple">创建战队</button>
        </div>
	</ion-content>
</ion-view>
