<ion-modal-view class="guideImg">
	<ul id="guideUl">
		<li style="z-index: 10;">
			<img class="imgBg" src="../../img2.0/guide/ydy_1.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(2)" style="z-index: 20;">
			<img class="imgBg" src="../../img2.0/guide/ydy_1_cover.png" alt="" />
			<img class="handImg" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text a-font-size-medium-m a-text-color-whit font-weight">点击选择&nbsp;&nbsp;<span class="a-font-size-medium-b a-text-color-light font-weight">经典11人</span></div>
	    </li>
	    <li style="z-index: 30;">
			<img class="imgBg" src="../../img2.0/guide/ydy_2.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(4)" style="z-index:40;">
			<img class="imgBg" src="../../img2.0/guide/ydy_2_cover.png" alt="" />
			<img class="handImg one" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text one a-font-size-medium-m a-text-color-whit font-weight">点击进入一个房间</div>
	    </li>
		<li style="z-index: 50;">
			<img class="imgBg" src="../../img2.0/guide/ydy_4.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(6)" style="z-index: 60;">
			<img class="imgBg" src="../../img2.0/guide/ydy_4_cover.png" alt="" />
			<img class="handImg two" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text two a-font-size-medium-m a-text-color-whit font-weight">点击选择球员</div>
		</li>
		<li style="z-index: 70;">
			<img class="imgBg" src="../../img2.0/guide/ydy_5.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(8)" style="z-index: 80;">
			<img class="imgBg" src="../../img2.0/guide/ydy_5_cover.png" alt="" />
			<img class="textimg left-center" src="../../img2.0/guide/continue.png" alt="" />
			<div class="textAm a-font-size-small-x a-text-color-whit font-weight"><span class="a-text-color-light a-font-size-medium-m">近期战力</span>&nbsp;&nbsp;代表着球员近期比赛上的表现情况。<br /><br /><span class="a-text-color-light a-font-size-medium">战力越高</span>,<br />说明球员近期比赛的表现越好，<span class="a-text-color-light">下一场比赛评分<br />高的可能性越大</span></div>
		</li>
		<li style="z-index: 90;">
			<img class="imgBg" src="../../img2.0/guide/ydy_6.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(10)" style="z-index: 100;">
			<img class="imgBg" src="../../img2.0/guide/ydy_6_cover.png" alt="" />
		    <img class="textimg left-center" src="../../img2.0/guide/continue.png" alt="" />
		    <div class="textAm one a-font-size-small-x a-text-color-whit font-weight">每次竞猜都会有<span class="a-text-color-light">资金限制</span>，<span class="a-text-color-light">阵容身价不可超过资金限制</span>。
		    	<br />目的是为了提高竞争公平性。
		    </div>
		    <div class="textAm two font-weight">
		    	<span class="a-text-color-light a-font-size-medium">身价&nbsp;&nbsp;</span><span class="a-text-color-whit">代表着一个球员的真实能力，并会根据球员<br />的表现而上下波动。</span>
		        <div><br />
		        	<p class="a-text-color-whit a-font-size-small-x">同样，</p>
                     <br /><br />
                     <p class="a-text-color-light a-font-size-medium">身价越高，</p>
                     <p class="a-text-color-light a-font-size-small-x">下一场比赛评分高的可能性越大</p>
                </div>
		    </div>
	    </li>
		<li style="z-index: 110;">
			<img class="imgBg" src="../../img2.0/guide/ydy_7.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(12)" style="z-index: 120;">
			<img class="imgBg" src="../../img2.0/guide/ydy_7_cover.png" alt="" />
			<img class="handImg seven" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text seven a-font-size-medium-m a-text-color-whit font-weight">点击选择此球员</div>
		</li>
		<li style="z-index: 130;">
			<img class="imgBg" src="../../img2.0/guide/ydy_8.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(14)" style="z-index: 140;">
			<img class="imgBg" src="../../img2.0/guide/ydy_8.png" alt="" />
			<img class="handImg eight" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text eight a-font-size-medium-m a-text-color-whit font-weight">点击确定</div>
		</li>
		<li style="z-index: 150;">
			<img class="imgBg" src="../../img2.0/guide/ydy_9.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(16)" style="z-index: 160;">
			<img class="imgBg" src="../../img2.0/guide/ydy_9_cover.png" alt="" />
			<img class="handImg nine" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text nine a-font-size-medium-m a-text-color-whit font-weight">点击<span class="a-text-color-light">自动补充</span>
			   <p class="a-font-size-small-x a-text-color-whit" style="margin-top: .1rem;">可以快速补充其他位置球员</p>
			</div>
		</li>
		<li style="z-index: 170;">
			<img class="imgBg" src="../../img2.0/guide/ydy_10.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(18)" style="z-index: 180;">
			<img class="imgBg" src="../../img2.0/guide/ydy_10_cover.png" alt="" />
			<img class="handImg ten" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text ten a-font-size-medium-m a-text-color-whit font-weight">点击提交布阵</div>
		</li>
		<li  style="z-index: 190;">
			<img class="imgBg" src="../../img2.0/guide/ydy_12.jpg" alt="" />
	    </li>
	    <li ng-click="guidenext(20)" style="z-index: 200;">
			<img class="imgBg" src="../../img2.0/guide/ydy_12_cover.png" alt="" />
			<img class="handImg twelfth" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text twelfth a-font-size-medium-m a-text-color-whit font-weight"><span class="a-text-color-light">真实比赛</span>开始了!
			   <p class="a-font-size-small-x a-text-color-whit" style="margin-top: .1rem;">点击查看房间内自己的<span class="a-text-color-light">实时排名</span>情况</p>
			</div>
		</li>
		<li  style="z-index: 210;">
			<img class="imgBg" src="../../img2.0/guide/ydy_13.jpg" alt="" />
	    </li>
	   <li style="z-index: 220;">
			<img class="imgBg" src="../../img2.0/guide/ydy_14.jpg" alt="" />
	    </li>
	    <li  style="z-index: 230;">
			<img class="imgBg" src="../../img2.0/guide/ydy_15.jpg" alt="" />
	    </li>
	    <li  style="z-index: 240;">
			<img class="imgBg" src="../../img2.0/guide/ydy_16.jpg" alt="" />
	    </li>
	     <li  ng-click="guidenext(25)" class="noBg" style="z-index: 250;">
			<img class="imgBg sixteen position-center" src="../../img2.0/guide/ydy_16_1.png" alt="" />
		</li>
		<li style="z-index: 260;">
			<img class="imgBg" src="../../img2.0/guide/ydy_17.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(27)" class="noBg" style="z-index: 270;">
			<img class="imgBg seventeen position-center" src="../../img2.0/guide/ydy_17_1.png" alt="" />
		</li>
		<li style="z-index: 280;">
			<img class="imgBg" src="../../img2.0/guide/ydy_18.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(29)" style="z-index: 290;">
			<img class="imgBg" src="../../img2.0/guide/ydy_18_cover.png" alt="" />
			<img class="handImg eighteen" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text eighteen a-font-size-medium-m a-text-color-whit font-weight">点击进入<span class="a-text-color-light">兑换商城</span></div>
		</li>
		<li style="z-index: 300;">
			<img class="imgBg" src="../../img2.0/guide/ydy_19.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(31)" style="z-index: 310;">
			<img class="imgBg" src="../../img2.0/guide/ydy_19_cover.png" alt="" />
			<img class="handImg nineteen" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text nineteen a-font-size-medium-m a-text-color-whit font-weight">点击<span class="a-text-color-light">星钻</span></div>
		</li>
		<li style="z-index: 320;">
			<img class="imgBg" src="../../img2.0/guide/ydy_21.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(33)" class="noBg"  style="z-index: 330;">
			<img class="imgBg twenty position-center" src="../../img2.0/guide/ydy_20_1.png" alt="" />
		</li>
		<li style="z-index: 340;">
			<img class="imgBg" src="../../img2.0/guide/ydy_21.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(35)" style="z-index: 350;">
			<img class="imgBg" src="../../img2.0/guide/ydy_21_cover.png" alt="" />
			<img class="handImg first" src="../../img2.0/guide/hand.png" alt="" />
			<div class="text first a-font-size-medium-m a-text-color-whit font-weight">点击<span class="a-text-color-light">全部兑换</span></div>
		</li>
		<li style="z-index: 360;">
			<img class="imgBg" src="../../img2.0/guide/ydy_22.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(37)"  class="noBg" style="z-index: 370;">
			<img class="imgBg second position-center" src="../../img2.0/guide/ydy_22_1.png" alt="" />
		</li>
		<li style="z-index: 380;">
			<img class="imgBg" src="../../img2.0/guide/ydy_23.jpg" alt="" />
	    </li>
	     <li ng-click="guidenext(39)" class="noBg" style="z-index: 390;">
			<img class="imgBg third position-center" src="../../img2.0/guide/ydy_23_1.png" alt="" />
		</li>
	</ul>
</ion-modal-view>
