<ion-view view-title="我的" hide-tabs>
<ion-header-bar align-title="center"  class="header_wode wode">
	 <!--<div class="buttons" onclick="javascript:history.back()">
  		<a  class="left"><span class="jiantou"></span>返回</a>
  	</div>-->
	<h1 class="title">
		成就规则
	</h1>
</ion-header-bar>
<div class="rule_con">
	<div class="jq_sm_box" style="height: 100%;" >
		<h2 class="title">成就说明</h2>
		<p class="content">段位共计：6个</p>
		<p class="content">每个段位细分为5个阶梯，其中5阶为最高阶</p>
		<p class="content">成就显示为段位+阶梯，如：绿茵新秀2阶</p>
		<p class="content">成就段位名称说明（由低到高排列）：</p>
		<p class="content">初学球童</p>
		<p class="content">绿茵新秀</p>
		<p class="content">希望之星</p>
		<p class="content">中流砥柱</p>
		<p class="content">超凡大师</p>
		<p class="content">最强王者</p>		
		<p class="content">成就进阶：当成就满足该成就所需经验则进阶，例如赛前为4阶，比赛后获得积分≥此阶梯积分上限，则晋升一阶，由4阶→5阶。</p>
		<p class="content">用户在到达最高段位，即最强王者，再次取得积分，则累加显示积分值，无法再次晋升。</p>
	</div>
</div>
