<ion-view view-title="我的" hide-tabs class="help-gz help">
	<!--头部-->
<ion-header-bar align-title="center" class="header_wode wode" >
  	<!--<div class="buttons" onclick="javascript:history.back()">
  		<a  class="left"><span class="jiantou"></span>返回</a>
  	</div>-->
	<h1 class="title">奖金分配</h1>
</ion-header-bar>
<ion-content class="gzwrap gzwrap-problem">
	<div class="content">
		<h1>星币和星钻</h1>
		<div class="con">
			<span>星钻：参与使用，包括球星对战、三人战和经典战的创建房间和加入房间。</span>
			<span>星币：通过游戏获胜获得，可以兑换实物奖励，包括iPhone 7、电话卡等。还可以兑换星钻继续参与游戏。 </span>
			<span><img src="../../img/room_new/room_new_diamond.png"/>1 =  <img src="../../img/room_new/room_new_coin.png" alt="" />10</span>
		</div>
	</div>
	<div class="content">
		<h1>球星对战</h1>
		<div class="con">
			<span>预判正确的玩家可以按自己支持钻石的比例，获得的预判错误玩家所支持的钻石。并按照比例换算成星币，发放到您的账户内。
自己支持的钻石越多，或者对方球星的钻石越多，玩家可赢得的星币就越多。</span>
		</div>
	</div>
	<div class="content">
		<h1>三人战和经典战</h1>
		<div class="con">
			<span>1. 第一名有奖：排名第一名的玩家获得所有奖池星币</span>
			<span>2. 前三名有奖：排名前三名的玩家瓜分所有奖池星币，其中第一名获得50%奖池星币</span>
			<span>3. 前25%有奖：排名前25%的玩家依名次递减瓜分所有奖池星币。</span>
			<span>4. 前50%有奖：排名前50%的玩家均分所有奖池星币</span>
			<span>奖池以房间人数和入场费计算而来，1星钻=10星币，StarKings会从中扣除10%的费用。人数越多、入场费越多，奖池越大。</span>			
			<span>注：免费房间奖金金额固定，不受房间人数影响，具体奖励金额请查看三人战和经典战房间列表。</span>
		</div>
	</div>
</ion-content>
</ion-view>
