<ion-view view-title="我的" hide-tabs class="help-gz help">
	<!--头部-->
<ion-header-bar align-title="center" class="header_wode wode" >
  	<!--<div class="buttons" ng-click='wode_help()'>
  		<a  class="left"><span class="jiantou"></span>返回</a>
  	</div>-->
	<h1 class="title">常见问题</h1>
</ion-header-bar>
<ion-content class="gzwrap gzwrap-problem">
	<div class="content">
		<h1>Q1：我支持的球星对战没有人支持另一方怎么办？</h1>
		<div class="con">
			<span>若比赛开始时球星对战没有人支持另一方，我们会将会把您支持的星钻原数返还给你</span>
		</div>
	</div>
	<div class="content">
		<h1>Q2：球星对战双方出现平分怎么办？</h1>
		<div class="con">
			<span>若出现平分，即没有分出胜负。我们会将您所支持的星钻以1：10的比例兑换成星币。并扣除10%的费用返还给您。 </span>
		</div>
	</div>
	<div class="content">
		<h1>Q3：比赛出现延期怎么办？</h1>
		<div class="con">
			<span>比赛出现延期，若48小时内比赛恢复继续比赛，则以恢复比赛结束的时间进行开奖。若48小时内未继续比赛，则关于此比赛的房间和球星对战取消，支持的星钻和入场费会原数返还给您</span>
		</div>
	</div>
	<div class="content">
		<h1>Q4：比赛出现中断怎么办？</h1>
		<div class="con">
			<span>比赛出现中端，若48小时内比赛恢复继续比赛，则以恢复比赛结束的时间进行开奖。若48小时内未继续比赛，则比赛球员数据以中断时间为止，并在比赛中断后48小时开奖。</span>
		</div>
	</div>
	<div class="content">
		<h1>Q5：没有找到想选的球员？</h1>
		<div class="con">
			<span>球员数据均来自可靠的第三方提供，会随时根据各大联赛杯赛的动态。若有什么问题，请及时联系我们！</span>			
		</div>
	</div>
	<div class="content">
		<h1>Q6：怎么知道我赢了？</h1>
		<div class="con">
			<span>在“我的竞技”，已结束的比赛查看，可以得知您的排名和获奖情况</span>			
		</div>
	</div>
	<div class="content">
		<h1>Q7：星币怎么用？</h1>
		<div class="con">
			<span>星币可以兑换成丰富实物奖品，如iPhone7、电话卡等，也可以兑换成钻石继续参与游戏。</span>			
		</div>
	</div>
</ion-content>
</ion-view>
