<ion-view view-title="帮助"  class="wode-help" hide-tabs>
<!--内容-->
<ion-content style="overflow: auto;">
    <!--加载数据1-->
    <div class="list wodehelp">
        <ul>
            <a onclick="TALKWATCH('帮助-什么是星钻和星币')" ng-click = 'helpCon("what")'><li class="a-parting-line item item-icon-left item-icon-right"><p>什么是星钻和星币</p><span class="icon ion-ios-arrow-right" ></span></li></a>
            <a onclick="TALKWATCH('帮助-竞技规则')" ng-click = 'helpCon("rule")'><li class="a-parting-line item item-icon-left item-icon-right"><p>竞技规则</p><span class="icon ion-ios-arrow-right" ></span></li></a>
            <a onclick="TALKWATCH('帮助-表现值计算')" ng-click = 'helpCon("player")'><li class="a-parting-line item item-icon-left item-icon-right"><p>表现值计算</p><span class="icon ion-ios-arrow-right" ></span></li></a>
            <a onclick="TALKWATCH('帮助-名词解释')" ng-click = 'helpCon("whatWord")'><li class="a-parting-line item item-icon-left item-icon-right"><p>名词解释</p><span class="icon ion-ios-arrow-right" ></span></li></a>
            <a onclick="TALKWATCH('帮助-常见问题')" ng-click = 'helpCon("problem")'><li class="a-parting-line item item-icon-left item-icon-right"><p>常见问题</p><span class="icon ion-ios-arrow-right" ></span></li></a>
            <a onclick="TALKWATCH('帮助-选人攻略')" ng-click = 'helpCon("chooseSkill")'><li class="a-parting-line item item-icon-left item-icon-right"><p>选人攻略</p><span class="icon ion-ios-arrow-right" ></span></li></a>
        </ul>
    </div>
</ion-content>
</ion-view>
