<ion-view view-title="联系客服" hide-tabs class="callUs">
	<div class="content">
		<div class="callUsState">
			<p class="a-font-size-small-x a-text-color-whit">您有任何问题或吐槽，</p>
			<p class="a-font-size-small-x a-text-color-whit">请通过微信公众号直接告诉我们！</p>
			<p class="a-parting-line" style="height: 0.19rem;width: 1rem;margin: auto;"></p>
		</div>
		<div class="">
			<p class="a-font-size-small-x a-text-color-whit">您也可以添加<span class="a-font-size-small-x a-text-color-light">&nbsp;选秀小助手&nbsp;</span>为微信好友，</p>
			<p class="a-font-size-small-x a-text-color-whit">更快的帮您解决</p>
		</div>
	</div>
	<style type="text/css">
		.callUs .content{
			background-image: url(../../img2.0/battle/sk_yjs_jdz_1.png);
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 100%;
			text-align: center;
		}
		.callUs .content div{
			text-align: center;
			padding-top: 0.21rem;
		}
		.callUs .content .callUsState{
			padding-top: 0.41rem;
		}
		.callUs .content div p{
			line-height: 1.6em;
		}
		.callUs .content .helperLogo{
			padding-top: 0.29rem;text-align: center;
		}
		.callUs .content .helperQRcode{
			padding-top: 0.2rem;text-align: center;
		}
		.callUs .content .helperLogo >img,.callUs .content .helperQRcode >img{
			margin: 0px;
		}
	</style>
</ion-view>
