<ion-view view-title="我的" hide-tabs class="help-gz">
	<!--头部-->
<ion-header-bar align-title="center" class="header_wode wode" >
  	<!--<div class="buttons" ng-click='wode_help()'>
  		<a  class="left"><span class="jiantou"></span>返回</a>
  	</div>-->
	<h1 class="title">玩法规则</h1>
</ion-header-bar>
<ion-content class="gzwrap wode-cpjs">
    <div class="cpjs_wrap">
         <h1 class="cpjs_h">什么是梦幻足球？</h1>
         <p>梦幻足球，也叫StarKings，是指玩家根据自己的足球经验，预判上场球员的表现情况，以真实比赛数据为依据，和其他人进行竞猜PK。</p>
         <div class="cpjs_ftx"><img src="../img/helpjs/tu_1.png"></div>
         <h1>有哪些玩法？<img src="img/helpjs/dian.png"></h1>
         <p>1.球星对战：直接预测两边球星谁的表现值更高来决出胜负，简单刺激！</p>
         <p>2.三人战：预测选出三个任意位置的球员，和他人选出的三位球员比拼真是比赛表现数据，以表现值高低决出排名。</p>
         <p>3.经典战：根据位置预测选出11位不同的球员，且球员工资总和不可超过规定个的工资帽。和他人选出的11位球员比拼真是比赛表现数据，以表现值高低决出排名。</p>
         <div class="cpjs_ftx cpjs_zmw">
             <img src="../img/helpjs/tu_2.png">
         </div>
         <h1>什么是工资和工资帽？<img src="img/helpjs/dian.png"></h1>
         <p>每位球员都会根据自己的能力拥有一定的工资。能力越高，工资越高。工资也会随着球员的表现好坏情况上下波动。</p>
         <p>为了体现竞技公平和避免玩家出现许多相同阵容选择，故做工资帽限定。</p>
         <div class="cpjs_hqs"><img src="../img/helpjs/tu_3.png"></div>

    </div>
    <div class="bottom-line"></div>
</ion-content>
</ion-view>
