<ion-view view-title="竞技规则" hide-tabs>
<ion-header-bar align-title="center"  class="header_wode wode">
	 <!--<div class="buttons" ng-click="back()">
  		<a  class="left"><span class="jiantou"></span>返回</a>
  	</div>-->
	<h1 class="title">
		计算规则
	</h1>
</ion-header-bar>
<div class="rule_con">
	<ion-scroll style="max-height: 95vh;" >
		<div class="jq_sm_box">	
			<h2 class="title">三人战：</h2>
			<p class="content">玩家任意挑选3名球员参与游戏，位置不限。</p>
			<p class="content">根据所选球员在当日真实比赛中的实际表现（数据统计）获得评分，球员评分之和决定你在房间内的排行次序，获得相应奖励。</p>
			<h2 class="title">玩法规则：</h2>		
			<p class="content">1.比赛开赛前，玩家可以随时更换自己挑选的球员。当有其中一场比赛开赛，房间即关闭且不可再更换球员。</p>
			<p class="content">2.若出现玩家球员评分之和相同的情况时，则最后一次修改阵容时间早的玩家排名在前。</p>
			<p class="content">3.开奖时间以房间所有比赛结束的时间为准。</p>
			<p class="content">4.参与单场投票，获胜都可以获得经验奖励。具体经验等级信息详见<a href="#/tab/wode/cjgz">我的成就</a></p>
			<h2 class="title">表现值计算：</h2>
			<p class="content">根据不同位置的球员，我们采取了不同维度的表现值计算方法，具体详见<a href="#/tab/wode/help/expression">表现值计算</a></p>
			<h2 class="title">奖金分配：</h2>
			<p class="content">1. 第一名有奖：排名第一名的玩家获得所有奖池星币</p>
			<p class="content">2. 前三名有奖：排名前三名的玩家瓜分所有奖池星币，其中第一名获得50%奖池星币。房间需满3人开奖</p>
			<p class="content">3. 前25%有奖：排名前25%的玩家依名次递减瓜分所有奖池星币。房间需满4人开奖</p>
			<p class="content">4. 前50%有奖：排名前50%的玩家均分所有奖池星币</p>
			<p class="content">奖池以房间人数和入场费计算而来，1星钻=10星币，StarKings会从中扣除10%的费用。人数越多、入场费越多，奖池越大。星币可以兑换成实物奖品，也可以兑换成钻石。</p>
			<h2 class="title">免责说明：</h2>
			<p class="content">球员数据均取自权威数据提供商，如果用户存在异议，我司拥有最终解释权。</p>
			<a href="#/tab/wode/help/problem">查看 <span>常见问题</span> </a>
		</div>
	</ion-scroll>
</div>
</ion-view>